
@*@using (Html.BeginForm())
{
    <div>
        <select name="generos" class="form-control">
            <option>Accion</option>
            <option>Aventuras</option>
        </select>
    </div>
}*@

<li>
    @Html.ActionLink("Géneros", "#", "Home")
</li>
